# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mexw64
*.mexmaci64

# Visual Studio Code
.vscode/*

# Matlab
*.asv
*.autosave

# Folders
build/*
bin/*
lib/*
lib3rd/*
toolbox/bin/*
toolbox/build/*
vs_2017*

# Project
docs_build/sphinx/_build
docs_build/sphinx/api
docs_build/xml
docs_build/sphinx_cpp/_build
docs_build/sphinx_cpp/api-cpp
docs_build/sphinx_matlab/_build
docs_build/sphinx_matlab/api-matlab
docs_build/xml-c
docs_build/xml-cpp
docs_build/xml-matlab
docs_build/sphinx/_doxygen
docs_build/sphinx/api-cpp
docs_build/sphinx/api-matlab
docs_build/sphinx_matlab/_doxygen
docs_build/sphinx_matlab/api-cpp

.DS_Store
license.txt
src/.vscode
